.body {
    background-image: url(single\ tree.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 100%;
    color: whitesmoke;


}

.praroz {
    color: orange;
    margin-left: 40px;
    margin-top: 0px;
    font-size: xx-large;
}

.nav {
    display: inline-flex;

}

.home {
    padding-left: 110px;
    padding-top: 10px;
}

.about {
    padding-left: 50px;
    padding-top: 10px;
}

.service {
    padding-left: 50px;
    padding-top: 10px;
}

.design {
    padding-left: 50px;
    padding-top: 10px;
}

.contact {
    padding-left: 50px;
    padding-right: 200px;
    padding-top: 10px;
}

.search {
    background-color: rgba(8, 3, 3, 0.0);
    border-color: rgba(43, 184, 50, 0.3);
    color: azure;
    font-size: medium;
    font-weight: bold;

}

.searchb {
    padding-left: 20px;
    padding-right: 20px;
    background-color: orange;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-style: none;
    color: aliceblue;
}

.webd {
    margin-top: 100px;
    padding-left: 50px;
}

.dev {
    color: orange;
    margin-top: 1px;
    padding-left: 50px;
}

.course {
    margin-top: 1px;
    padding-left: 50px
}

.para1 {
    padding-left: 50px;
    margin-top: 0mm;
    text-justify: newspaper;
    ;
}

.para2 {
    padding-left: 50px;
    margin-top: 0mm;
    text-justify: newspaper;
    ;
}

.para3 {
    padding-left: 50px;
    margin-top: 0mm;
    text-justify: newspaper;
    ;
}

.join {
    margin-left: 50px;
    margin-top: 10px;
    background-color: orange;
    border-radius: 5px;
    padding: 5px 20px;
    border-style: none;
}

.set {
    height: 350px;
    width: 220px;
    display: block;
    float: right;
    margin-right: 100px;
    background-color: rgba(8, 4, 4, 0.9);
    border-radius: 7px;
    border-color: rgb(8, 4, 4, 0.1);
}

.login {
    background-color: blanchedalmond;
    color: orange;
    padding: 7px 50px;
    border-radius: 6px;
    margin-left: 25px;
    margin-top: 10px;
}

.mail {
    margin-top: 30px;
    margin-left: 25px;
    border-color: rgb(8, 3, 3, 0.0);
    background-color: rgb(8, 3, 3, 0.1);
    color: aliceblue;
    font-weight: bolder;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /* text-decoration: underline green; */
    border-bottom: solid green;

}

.pass {
    margin-top: 30px;
    margin-left: 25px;
    border-color: rgb(8, 3, 3, 0.0);
    background-color: rgb(8, 3, 3, 0.0);
    color: aliceblue;
    font-weight: bolder;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /* text-decoration: underline green; */
    border-bottom: solid green;

}

.login2 {
    margin-top: 30px;
    margin-left: 25px;
    padding: 5px 60px;
    background-color: orange;
    border-radius: 6px;
}

.don {
    margin-left: 40px;
    font-size: medium;
}

.sign {
    margin-top: opx;
    margin-left: 40px;
    font-size: medium;
}

.link {
    color: greenyellow;

}

.with {
    margin-left: 70px;
    font-size: small;
}

.lucky {
    margin-top: 90px;
    margin-left: 40px;
}

.fa {
    margin-left: 30px;
    margin-top: 5px;
    color: whitesmoke;
}

.us {
    margin-top: 5px;
    background-color: blue;
    color: black;
    font-weight: bolder;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border-radius: 6px;
    border-color: rgb(8, 3, 3, 0.0);
    margin-left: 40px;
}